* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #110c0c;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px; 
}

/* Лого і навігація */
.header .logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
}


.logo-img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.header .logo h1 {
  font-size: 2rem;
  margin-right: 10px;
  color: white;
}

/* Навігація */
.header .nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

.header .nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header .nav ul li a:hover {
  color: #ff5733;
}

/* Хедер */
.header {
  background: #000000;
  color: white;
  padding: 20px 0;
  height: 80px; 
}

.hero-movies-wrapper {
  background: url("../img/cinema-header-1.jpg") no-repeat center center/cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Hero */
.hero {
  color: rgb(255, 255, 255);
  height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 10px; 
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px; 
}

.hero .btn {
  background: #ff5733;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  position: relative;
  margin-top: 20px; 
}

.hero .btn:hover {
  background: #ff2d00;
}


/* Movies */
.movies {
  padding: 20px 0;
  text-align: center;
}

.movies h2 {
  color: #ffffff;
  position: relative;
  top: -20px;
}

.movies .movie-list {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.movies .movie-item {
  text-align: center;
}

.movies .movie-item img {
  width: 100%;
  max-width: 200px;
}

.movies .movie-item h3 {
  margin-top: 10px;
  color: #ffffff;
}



.scale-up {
  transition: transform 0.3s ease; 
}

.scale-up:hover {
  transform: scale(1.1); 
}

.move-up {
  position: relative;
  transition: top 0.3s ease; 
}

.move-up:hover {
  top: -20px; 
}


.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Footer */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
